@page "/"
@using RestaurantApplication.Client.Settings.Header
@inject NavigationManager navigationManager;

<Header Title="@HeaderTextConstants.LoginTitle" Content="@HeaderTextConstants.LoginContent"></Header>
<div class="accountPage" id="loginPage">
    <div id="loginContainer" class="accountInputContainer">
        <div class="usernameContainer">
            <h4>Username</h4>
            <input class="inputComponent"/>
        </div>
        <div class="passwordContainer">
            <h4>Password</h4>
            <input class="inputComponent"/>
        </div>
        <div class="accountButtonContainer">
            <button class="accountButton, bottomLeftBorderRadius" @onclick="@(e => { navigationManager.NavigateTo("/createAccount"); })">Create Account</button>
            <button class="accountButton, bottomRightBorderRadius">Login</button>
        </div>
    </div>
</div>

@code
{

}