@page "/createAccount"
@using RestaurantApplication.Client.Settings.Header

<Header Title="@HeaderTextConstants.CreateAccountTitle"></Header>
<div class="accountPage" id="createAccountPage">
    <div class="usernameContainer">
        <h4>Username</h4>
        <input class="inputComponent"/>
    </div>
    <div class="passwordContainer">
        <h4>Enter Password</h4>
        <input class="inputComponent"/>
    </div>
    <div class="passwordContainer">
        <h4>Enter Password Again</h4>
        <input class="inputComponent"/>
    </div>
    <div class="accountButtonContainer">
        <button class="accountButton, bottomLeftBorderRadius">Back</button>
        <button class="accountButton, bottomRightBorderRadius">Create Account</button>
    </div>
</div>

@code {

}
